/* Winston font */

@font-face {
  font-display: swap;
  font-family: 'Winston';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Winston/Winston-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Winston';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Winston/Winston-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Winston';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Winston/Winston-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Winston';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Winston/Winston-Regular.woff2') format('woff2');
}

/* Rubik font */

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Rubik/Rubik-Light.woff2') format('woff2');
}